fastapi
uvicorn
httpx
feedparser
yfinance==0.2.28
pandas
scikit-learn
alpha_vantage
sqlmodel
psycopg2-binary
investpy
APScheduler
tradingview-screener
requests
apimoex
statsmodels
git+https://github.com/rongardF/tvdatafeed.git